@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

:root {
  /* CSS variables */
  --color-background: #f0f0f7;
  --color-text-base: #e3e2f7;
  --color-line-in-white: #e6e6f0;
  font-size: 60%; /* rem measurement controller */
}

.container {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
   ". texto image ."
   ". button image .";}

.item1 {
  margin-top: 5rem;
  font: 700 3.6rem 'Titillium Web', sans-serif;
  grid-area: texto;
}

.item1 h1 {
  text-justify: center;
}

.item1 p {
  font: 300 3.6rem 'Titillium Web', sans-serif;


}

.item2 {
  grid-area: button;
  display: flex;
}

.item2 a {
  margin-top: 6.6rem;
  background-color: #b33939;
  width: 40rem;
  height: 12.4rem;
  border-radius: 1.3rem;
  margin-right: 1.6rem;
  font: 700 2.4rem 'Titillium Web', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.2s;
  color: #fff;
}

.item2 a:hover {
  background-color: #ff5252;
  color: #000;
  
}

.item2 a img {
  width: 14rem;
  margin-right: 2.4rem;
}

.item3 {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item3 img {
  width: 85%;
}